@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
}

body{
    font-family: Fira Sans;
    background-color: rgba(14,14,14,0.03);
}

/* Navbar */

header nav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 20px;
    padding: 24px 0;
    width: 1200px;
}

header nav #nav-title{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}

header nav #signin-btn{
    border: 1px solid #006A50;
    padding: 10px 25px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    color: #006A50;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out; /* Additional - to enhance the hover effect */
}

header nav #signin-btn:hover{
    background-color: #C6E4D6;
    color: #006A50;
    transform: scale(1.05);
}

/* Banner Section */

header .banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    background-color: #C6E4D6;
    border-radius: 24px;
    margin: 0 auto;
    width: 1200px;
}

header .banner-container .left{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
}

header .banner-container .right{
    height: 450px;
    width: 380px;
}

header .banner-container .right img{
    width: 100%;
    height: auto;
    margin-top: 70px;
}

header .banner-container .left .banner-title{
    font-size: 22px;
    font-weight: 500px;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 16px;
}

header .banner-container .left .banner-desc{
    font-size: 50px;
    font-weight: 700;
    color:rgb(14, 14, 14);
    margin-bottom: 24px;
}

header .banner-container .left #explore-btn{
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 17px 34px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Additional - to enhance the hover effect */
}

header .banner-container .left #explore-btn:hover{
    background-color: #004f3a;
    transform: scale(1.05);
}

/* Section Pillars */

.sec-title{
    margin-bottom: 32px;
    font-size: 40px;
    font-weight: 700;
    color: rgb(14, 14, 14);
    margin-top: 80px;
}

main .pillars{
    width: 1200px;
    margin: 0 auto;
}

main .pillars .card-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: end;
}

main .pillars .card-container .p-card{
    height: 240px;
    width: 250px;
    padding: 22px;
    border-radius: 16px;
    background-color: white;
    border: 1px solid rgba(14, 14, 14, 0.15);
}

main .pillars .card-container .p-card .card-title{
    margin-bottom: 12px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
}

main .pillars .card-container .p-card .card-desc{
    color: rgba(14, 14, 14, 0.6);
    font-size: 15px;
    font-weight: 400;
    text-align: left;
}

main .pillars .card-container .p-card img{
    margin-bottom: 24px;
}

/* Vision Section */

/* V Card Common */

main .vision .vision-container .v-card-container .v-card{
    padding: 24px;
    border-radius: 16px;
    width: 410px;
    height: 260px;
}

main .vision .vision-container .v-card-container .v-card .lrn-btn{
    border-radius: 8px;
    padding: 8px 17px;
    border: none;
    font-size: 13px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Additional - to enhance the hover effect */
}

/* ------------- */

main .vision{
    width: 1200px;
    margin: 0 auto;
}

main .vision .vision-container .v-card-container{
    margin-top: 32px;
    display: flex;
    justify-content: space-around;
    gap: 24px;
    align-items: end;
}

main .vision .vision-container .v-card-container .v-card .v-card-title{
    margin-bottom: 12px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
}

main .vision .vision-container .v-card-container .v-card .v-card-desc{
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}

main .vision .vision-container .v-card-container .v-card a .b1{
    background-color: rgb(84, 144, 245);
}

main .vision .vision-container .v-card-container .v-card a .b1:hover{
    background-color: rgb(50,110,200);
    transform: scale(1.05);
}

main .vision .vision-container .v-card-container .v-card a .b2{
    background-color: rgb(9, 161, 92);
}

main .vision .vision-container .v-card-container .v-card a .b2:hover{
    background-color: rgb(6,120,70);
    transform: scale(1.05);
}

main .vision .vision-container .v-card-container .v-card a .b3{
    background-color: rgb(255, 194, 57);
}

main .vision .vision-container .v-card-container .v-card a .b3:hover{
    background-color: rgb(204,155,40);
    transform: scale(1.05);
}

main .vision .vision-container .v-card-container .vc1{
    background: rgba(84, 144, 245, 0.2);
}

main .vision .vision-container .v-card-container .vc2{
    background: rgb(198, 228, 214);
}

main .vision .vision-container .v-card-container .vc3{
    background: rgb(247, 235, 207);
}

main .vision .vision-container .v-card-container .vc2 .v-card-desc{
    margin-bottom: 60px;
}

main .vision .vision-container .v-card-container .v-card img{
    margin-bottom: 24px;
}

/* Quote part */

main .vision .quote-container{
    position: relative;
    margin-top: 32px;
    padding: 45px 24px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}

main .vision .quote-container .said-what{
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.6);
}

main .vision .quote-container .who{
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 600;
    color: rgba(14, 14, 14, 0.9);
}

main .vision .quote-container .desig{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.5);
}

main .vision .quote-container img{
    position: absolute;
    bottom: 123px;
    right: 1110px;
    z-index: 1;
}

/* Opinion Section */

main .opinion{
    width: 1200px;
    margin: 0 auto;
}

main .opinion .op-table-container{
    background-color: white;
    border-radius: 16px;
    padding: 32px;
}

main .opinion .op-table-container table, th, td{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgba(14,14,14,0.3);
}

main .opinion .op-table-container table th{
    font-size: 18px;
    font-weight: 600;
    color: rgba(14, 14, 14);
    background-color: rgb(198, 228, 214);
    border: none;
}

main .opinion .op-table-container table td{
    font-size: 14px;
    font-weight: 600;
    color: rgba(14, 14, 14);
}

main .opinion .op-table-container table th, .cell-ques{
    padding: 24px;
    text-align: left;
    white-space: nowrap;
}

main .opinion .op-table-container table tbody .cell-ans{
    text-align: center;
}

main .opinion .op-table-container table tbody .cell-ans select, option{
    padding: 8px;
    background-color: #C6E4D6;
    color: rgba(14, 14, 14);
    border-radius: 4px;
    border: 1px solid rgb(14, 14, 14);
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Additional - to enhance the hover effect */
}

main .opinion .op-table-container table tbody .cell-ans select:hover{
    background-color: #004f3ad0;
    color: white;
    transform: scale(1.05);
}

/* News Section */

main .news{
    width: 1200px;
    margin: 0 auto;
}

main .news .news-card{
    margin-top: 32px;
    padding: 48px;
    border-radius: 24px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

main .news .news-card .n-left img{
    border-radius: 24px;
}

main .news .news-card .n-right img{
    margin-bottom: 12px;
}

main .news .n-right .news-title{
    font-size: 32px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.9);
    margin-bottom: 16px;
}

main .news .n-right .n-desc{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.6);
    margin-bottom: 32px;
}

main .news .n-right .n-date{
    margin-bottom: 12px;
}

main .news .n-right .news-btn{
    padding: 11px 22px;
    border-radius: 8px;
    background-color: #006A50;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Additional - to enhance the hover effect */
}

main .news .n-right .news-btn:hover{
    background-color: #004f3a;
    transform: scale(1.05);
}


main .news .n2{
    display: flex;
    flex-direction: row-reverse;
}

/* Donate Section */

main .donate{
    width: 1200px;
    margin: 0 auto;
}

main .donate .d1{
    text-align: center;
}

main .donate .donate-card-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    margin: 32px 0;
}

main .donate .donate-card-container .d-card{
    padding: 25px 5px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    cursor: pointer;
    color: rgba(14, 14, 14, 0.9);
    font-size: 27px;
    font-weight: 700;
    text-align: center;
    width: 230px;
}

main .donate .donate-card-container .d-card:hover{
    background-color: #C6E4D6;
}

main .donate .donate-bottom .d-btn{
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    background: rgb(0, 106, 80);
    font-size: 16px;
    font-weight: 600;
    padding: 11px 25px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 80px;
}

main .donate .donate-bottom .d-btn:hover{
    background-color: #004f3a;
    transform: scale(1.05);
}

main .donate .donate-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

main .donate .donate-bottom #amount{
    width: 85%;
    padding: 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

/* Newsletter Section */

main .newsletter{
    width: 1200px;
    margin: 0 auto;
}

main .newsletter .newsletter-container{
    background-color: #C6E4D6;
    padding: 80px 100px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 80px;
}

main .newsletter .newsletter-container .nw-title{
    font-size: 40px;
    font-weight: 700;
    color: rgb(14, 14, 14);
}

main .newsletter .newsletter-container .nw-desc{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.6);
}

main .newsletter .newsletter-container .form-group{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
}

main .newsletter .newsletter-container .form-group input{
    padding: 12px 17px;
    outline: none;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
}


main .newsletter .newsletter-container .form-group .news-l-btn{
    padding: 11px 17px;
    background-color: #006A50;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

main .newsletter .newsletter-container .form-group .news-l-btn:hover{
    background-color: #004f3a;
    transform: scale(1.05);
}

/** Footer **/

footer{
    background-color: white;
}

footer .footer-container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

footer .footer-text{
    font-size: 32px;
    font-weight: 700;
    color: rgb(14, 14, 14);
    text-align: center;
}

footer .div-hr{
    background-color: rgba(14, 14, 14, 0.15);
    height: 2px;
    width: 85%;
    margin: 32px 0;
}

footer .social-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
}

footer .social-container img{
    transition: transform 0.2s ease;
}

footer .social-container img:hover{
    transform: scale(1.3);
}